ENVIRONMENT=development #
DATABASE_URL=postgresql://neondb_owner:npg_4PNEReq0jcTz@ep-soft-moon-a4zcp1t3-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=MalikGanteng123AkuSukaBangetGeloAkuNgefansSamaPrasYangSuperGantengKerenRobloxGatauSip
API_PORT=8080
API_HOST=192.168.1.183:8080 #
SWAGGER_HOST=192.168.1.183:8080 #
SWAGGER_PASSWORD=prasganteng123
REDIS_URL="rediss://default_ro:ggAAAAAAAV8jAAIgcDG6onnbFF_lDMkFKp3_ip6EP3RrHL7VtQygS5m6Snxy6g@climbing-tahr-89891.upstash.io:6379"
ALLOWED_ORIGINS=* #
FIREBASE_CREDENTIALS_PATH=https://zikg6g.leapcellobj.com/os-wsp2011024157941530624-63hj-ghnp-v3gqjjhy/google-services-1.json
MAILERSEND_API_KEY=mlsn.49b65ed85382da34f1d07df3741e4be988c976659f09636b02dbf2119cde553b
MAILERSEND_FROM_EMAIL=noreply@test-eqvygm0ezq5l0p7w.mlsender.net
LOG_LEVEL=info

# Secret khusus untuk Vercel Cron
CRON_SECRET=rahasia_cron_malik_12345
